// @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

$light-grey: rgb(147,154,169);
$dark-grey: rgb(90, 98, 117);

$border-style: 2px solid $dark-grey;

.login-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    h2 {
        color: $dark-grey;
        font-size: bold;
    }
    .quiz-logo{
        font-size: 100px;
        color: $dark-grey;
    }
    .field{
        color:$light-grey;
        width: 80%;
    }
}

.welcome {
    a {
        font-size: 75px;
        color: $dark-grey;
    }
    .sign-up-main {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 150px;
    }
}

.control {
    .input:focus{
        outline: 2px solid rgb(66, 165, 245);
        border: none;
    }
    button {
        background-color: white;
        color: $dark-grey;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 0;
        border: $border-style;
    }
}
