/* .test {
    justify-content: center;
    display: flex;
} */

.result-box  {
    border: 2px solid rgb(90, 98, 117);
    margin: 0 20px;
}
.result-box p {
    text-align: center;
}

.New-Record {
    color: red;
    margin: 0%;
}

.result-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-button button {
    width: 200px;
    margin: 10px 0px;
    border-radius: 5px;
}



